
body {
    background: #f4f4f4;
    font-family: Arial;
    text-align: center;
    padding: 10px;
}
.logo {
    height: 60px;
    margin: 10px;
}
.header {
    display: flex;
    justify-content: center;
    gap: 40px;
}
.card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    max-width: 450px;
    margin: auto;
    box-shadow: 0 0 10px #0002;
}
.titulo {
    background: #001a72;
    color: white;
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
}
.linha {
    display: flex;
    justify-content: space-between;
    margin: 8px 0;
    background: #002080;
    color: white;
    padding: 6px;
    border-radius: 5px;
}
input {
    width: 120px;
    padding: 4px;
}
.resultado {
    font-weight: bold;
}
.destaque {
    background: #0050b3 !important;
}
.destaqueFinal {
    background: #1ad18f !important;
    color: black !important;
}
.valor {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
}
button {
    margin-top: 20px;
    padding: 10px 20px;
    background: #001a72;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
